.game-table {
  position: relative;

  width: 120vw;

  height: 120vh;

  margin-left: -10vw;

  margin-top: -10vh;

  overflow: hidden;

  transform:
    scale(0.84);

  transform-origin:
    center center;
}
.game-table::before {
  content: '';

  position: absolute;

  inset: 0;

  background:
    radial-gradient(
      circle at center,
      rgba(10, 6, 1, 0.52) 0%,
      rgba(8,8,8,0.82) 100%
    );

  backdrop-filter:
    blur(2px);

  pointer-events: none;

  isolation: isolate;
  
  z-index: 1;
}

/* =========================
   MESA CENTRAL
========================= */

.game-table-board {
  position: absolute;

  left: 50%;

  top: 50%;

  transform:
    translate(-50%, -50%);

  width: 72vw;

  height: 68vh;

  border-radius: 40px;

  background:
  radial-gradient(
    circle at center,
    rgb(58, 34, 18),
    rgb(18, 10, 6)
  );

border:
  4px solid rgba(255, 119, 40, 0.486);

  box-shadow:
    0 0 80px rgba(0, 0, 0, 0.801),
    inset 0 0 80px rgba(0,0,0,0.24);
outline:
  1px solid rgba(255,120,40,0.12);
    transition:
  box-shadow 0.4s ease,
  border 0.4s ease;

  position: absolute;

overflow: visible;

z-index: 2;
}

/* =========================
   TABLE TERRAINS
========================= */

.table-fire {
  border:
    1px solid rgba(248, 29, 0, 0.884);

  box-shadow:
    0 0 18px rgba(247, 40, 25, 0.568),
    0 0 42px rgba(241, 46, 11, 0.555),
    0 0 90px rgba(250, 38, 10, 0.315),
    inset 0 0 18px rgba(255,120,40,0.04);
}

.table-water {
  border:
    1px solid rgba(42, 113, 245, 0.527);

  box-shadow:
    0 0 18px rgba(80, 141, 255, 0.315),
    0 0 42px rgba(80, 141, 255, 0.247),
    0 0 90px rgba(80, 141, 255, 0.219),
    inset 0 0 18px rgba(80,140,255,0.04);
}

.table-earth {
  border:
    1px solid rgba(42, 230, 71, 0.596);

  box-shadow:
    0 0 18px rgba(70, 210, 91, 0.342),
    0 0 42px rgba(70, 210, 91, 0.301),
    0 0 90px rgba(70, 210, 91, 0.226),
    inset 0 0 18px rgba(70,210,90,0.04);
}

.table-air {
  border:
    1px solid rgba(241, 239, 239, 0.548);

  box-shadow:
    0 0 18px rgba(220, 220, 220, 0.342),
    0 0 42px rgba(180, 220, 255, 0.322),
    0 0 90px rgba(180, 220, 255, 0.26),
    inset 0 0 18px rgba(180,220,255,0.04);
}

.table-light {
  border:
    1px solid rgba(255, 197, 37, 0.541);

  box-shadow:
    0 0 18px rgba(255, 211, 90, 0.39),
    0 0 42px rgba(255, 219, 120, 0.37),
    0 0 90px rgba(255, 219, 120, 0.322),
    inset 0 0 18px rgba(255,220,120,0.05);
}

.table-darkness {
  border:
    1px solid rgba(123, 42, 245, 0.5);

  box-shadow:
    0 0 18px rgba(150, 80, 255, 0.37),
    0 0 42px rgba(140, 80, 200, 0.384),
    0 0 90px rgba(140, 80, 200, 0.329),
    inset 0 0 18px rgba(140,80,200,0.05);
}

.table-heroes {
  border:
    1px solid rgba(150, 88, 30, 0.623);

  box-shadow:
    0 0 18px rgba(160, 100, 40, 0.445),
    0 0 42px rgba(153, 99, 46, 0.322),
    0 0 90px rgba(143, 91, 38, 0.336),
    inset 0 0 18px rgba(170,120,70,0.04);
}