.game-table {
  position: relative;

  overflow: hidden;

  transform:
    scale(0.84);

  transform-origin:
    center center;

  width: 120vw;

  height: 120vh;

  margin-left: -10vw;

  margin-top: -10vh;
}
.game-table::before {
  content: '';

  position: absolute;

  inset: 0;

  background:
    radial-gradient(
      circle at center,
      rgba(10, 6, 1, 0.52) 0%,
      rgba(8,8,8,0.82) 100%
    );

  backdrop-filter:
    blur(2px);

  pointer-events: none;

  isolation: isolate;
  z-index: 0;
}

/* =========================
   MESA CENTRAL
========================= */

.game-table-board {
  position: absolute;

  left: 50%;

  top: 50%;

  transform:
    translate(-50%, -50%);

  width: 72vw;

  height: 68vh;

  border-radius: 40px;

  background:
    radial-gradient(
      circle at center,
      rgba(42,28,18,0.96),
      rgba(18,10,6,0.98)
    );

  border:
    1px solid rgba(184,139,69,0.14);

  box-shadow:
    0 0 80px rgba(0,0,0,0.42),
    inset 0 0 80px rgba(0,0,0,0.24);

    transition:
  box-shadow 0.4s ease,
  border 0.4s ease;

  position: absolute;

overflow: visible;
}

/* =========================
   TERRENOS
========================= */

.terrain-fire {
  border:
    2px solid rgba(255,120,40,0.38);

  box-shadow:
    0 0 30px rgba(255,120,40,0.22),
    0 0 90px rgba(255,80,20,0.16),
    inset 0 0 40px rgba(255,120,40,0.08);
}

.terrain-water {
  border:
    2px solid rgba(80,160,255,0.38);

  box-shadow:
    0 0 30px rgba(80,160,255,0.22),
    0 0 90px rgba(80,160,255,0.16),
    inset 0 0 40px rgba(80,160,255,0.08);
}

.terrain-earth {
  border:
    2px solid rgba(120,180,90,0.38);

  box-shadow:
    0 0 30px rgba(120,180,90,0.22),
    0 0 90px rgba(120,180,90,0.16),
    inset 0 0 40px rgba(120,180,90,0.08);
}

.terrain-air {
  border:
    2px solid rgba(120,220,255,0.38);

  box-shadow:
    0 0 30px rgba(120,220,255,0.22),
    0 0 90px rgba(120,220,255,0.16),
    inset 0 0 40px rgba(120,220,255,0.08);
}

.terrain-light {
  border:
    2px solid rgba(255,220,120,0.42);

  box-shadow:
    0 0 30px rgba(255,220,120,0.24),
    0 0 100px rgba(255,220,120,0.18),
    inset 0 0 40px rgba(255,220,120,0.08);
}

.terrain-darkness {
  border:
    2px solid rgba(160,90,255,0.38);

  box-shadow:
    0 0 30px rgba(160,90,255,0.22),
    0 0 90px rgba(140,70,255,0.16),
    inset 0 0 40px rgba(160,90,255,0.08);
}

.terrain-heroes {
  border:
    2px solid rgba(170,120,70,0.38);

  box-shadow:
    0 0 30px rgba(170,120,70,0.22),
    0 0 90px rgba(170,120,70,0.16),
    inset 0 0 40px rgba(170,120,70,0.08);
}
