.game-player {
  position: absolute;

  width: 170px;

  height: 74px;

  border-radius: 18px;

  background:
    linear-gradient(
      to bottom,
      rgba(16,16,16,0.94),
      rgba(5,5,5,0.98)
    );

  border:
    1px solid rgba(184,139,69,0.16);

  display: flex;

  align-items: center;

  gap: 12px;

  padding: 10px 12px;

  box-shadow:
    0 0 18px rgba(0,0,0,0.28);
}

/* =========================
   AVATAR
========================= */

.game-player-avatar {
  width: 48px;

  height: 48px;

  border-radius: 50%;

  object-fit: cover;

  flex-shrink: 0;

  border:
    1px solid rgba(184,139,69,0.24);
}

/* =========================
   INFO
========================= */

.game-player-info {
  display: flex;

  flex-direction: column;

  gap: 4px;
}

.game-player-info span {
  color:
    rgba(255,255,255,0.78);

  font-size: 10px;

  font-weight: 700;

  letter-spacing: 1px;
}

.game-player-name {
  color: #f0d39a !important;

  font-size: 12px !important;

  font-weight: 900 !important;
}

/* =========================
   POSIÇÕES
========================= */

.top-left {
  top: 24px;

  left: 240px;
}

.top-center {
  top: 24px;

  left: 50%;

  transform:
    translateX(-50%);
}

.top-right {
  top: 24px;

  right: 240px;
}

.left {
  left: 24px;

  top: 50%;

  transform:
    translateY(-50%);
}

.right {
  right: 24px;

  top: 50%;

  transform:
    translateY(-50%);
}